body {
  padding-top: 20px;
  padding-bottom: 40px;
}

.loader-indicator{
  display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
   top: 50%;
   left: 50%;
   text-align: center;

}

.song{
	
	width: 275px;
	  height: 165px;
	  margin: 5px;
	  float: left;
	  overflow: hidden;
	  position: relative;
	  background: #888;
	  color: #222;
		-webkit-border-top-right-radius: 1.2em;
		-moz-border-radius-topright: 1.2em;
		border-top-right-radius: 1.2em;
		-webkit-border-bottom-left-radius: 1.2em;
		-moz-border-radius-bottomleft: 1.2em;
		border-bottom-left-radius: 1.2em;
}

#debugpanel{
	position:absolute;
	width:250px;
	
	background-color:white;
	z-index:9999;
	left:500px;
	top:150px;
	border-style: solid;
	border-width: 1px;
	border-color:gray;
}

#container{
	border: 1px solid #666;
	  padding: 5px;
	  margin-bottom: 20px;

}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}


/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

#dialog {
 

}

/* Overlay */
#modal-overlay {
  background-color:#000;
  opacity: 0.5; 
  height: 100%; 
  width: 100%; 
  position: fixed; 
  left: 0px; 
  top: 0px; 
  z-index: 1040;
}


/*YT Player*/
#yt-player{
  position: absolute;
  left:-1000px;
}


/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}
